
config TOUCHSCREEN_SYNAPTICS_DSX_I2C
	tristate "Synaptics DSX I2C touchscreen"
	depends on I2C
	help
	  Say Y here if you have a Synaptics DSX I2C touchscreen
	  connected to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called synaptics_dsx_i2c.

config TOUCHSCREEN_SYNAPTICS_DSX_RMI_DEV
	tristate "Synaptics DSX touchscreen char device"
	depends on TOUCHSCREEN_SYNAPTICS_DSX_I2C
	default y
	help
	  This enables support for direct register access for Synaptics DSX
	  touchscreens.

config TOUCHSCREEN_SYNAPTICS_DSX_TEST_REPORTING
	tristate "Synaptics DSX touchscreen test reporting"
	depends on TOUCHSCREEN_SYNAPTICS_DSX_I2C
	default y
	help
	  This enables support for test reporting for Synaptics DSX
	  touchscreens.

config TOUCHSCREEN_SYNAPTICS_DSX_FW_UPDATE
	tristate "Synaptics DSX touchscreen firmware update"
	depends on TOUCHSCREEN_SYNAPTICS_DSX_I2C
	default y
	help
	  This enables support for firmware update for Synaptics DSX
	  touchscreens.

config TOUCHSCREEN_SYNAPTICS_DSX_FN51
	tristate "Synaptics DSX touchscreen function $51"
	depends on TOUCHSCREEN_SYNAPTICS_DSX_I2C
	help
	  This enables support for function $51 for Synaptics DSX
	  touchscreens.
	  
config TOUCHSCREEN_DSX_SWIPE_CONTROL
	tristate "Synaptics DSX touchscreen function swipe control"
	depends on TOUCHSCREEN_SYNAPTICS_DSX_I2C
	help
	  This enables support for function swipe for Synaptics DSX
	  touchscreens.

